@hilight-color: #0080c0;

body {
  font-family: apple-system;
}

.app {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  .ime, .result {
    width: 100%;
  }

  .ime input {
    width: 100%;
  }
  .ime .completions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .ime .completion {
    font-size: 32px;
    flex: 0 0 48px;
    &.hilighted {
      border-left: 10px solid @hilight-color;
    }
  }

  input {
    font-size: 48px;
    line-height: 64px;
    width: 100%;
  }

  .reverse {
    font-size: 48px;
    line-height: 64px;
    > * {
      margin-left: 1em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
